* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #000000;
  color: white;
}

.ticker-red {
  color: white;
  background-color: red;
  border-radius: 3px;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-right:20px;
}

.ticker-green {
  color: white;
  background-color: green;
  border-radius: 3px;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-right:20px;
}

.styleChg {
  border-radius: 3px;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
  /*display: inline-block; */
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-right:20px;
}

.fs-7 {
  font-size: 0.8rem;
}

.tableBorder {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  background-color:rgb(30, 30,30);
  }

header {
  grid-area: header;
  padding: 0px;
  background-color:rgba(70, 70, 70);
}

footer {
  background-color:rgba(70, 70, 70);
  min-height: 3vh;
}

.wallet {
  grid-area: wallet;
  background-color:rgba(70, 70, 70);
  overflow-y: scroll;
}

.ordenes {
  grid-area: ordenes;
  background-color:rgba(70, 70, 70);
}

nav {
  grid-area: nav;
  background-color:rgba(70, 70, 70);
  overflow-y: scroll;
}

.treemap {
  grid-area: treemap;
  background-color:rgba(70, 70, 70);
}

.treemap-title {
  grid-area: treemap-title;
  background-color:rgba(70, 70, 70);
}

.messages {
  max-height: 5vh;
}
