* {
  padding: 0px;
  margin: 0px;
}


body {
  background-color: #000000;
  color: white;
}

.fs-7 {
  font-size: 0.8rem;
}

.tableBorder {
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  background-color:rgb(30, 30,30);
  }

header {
  grid-area: header;
  padding: 0px;
  background-color:rgba(70, 70, 70);
}

footer {
  background-color:rgba(70, 70, 70);
}

.wallet {
  grid-area: wallet;
  background-color:rgba(70, 70, 70);
  overflow-y: scroll;
}

.ordenes {
  grid-area: ordenes;
  background-color:rgba(70, 70, 70);
}

nav {
  grid-area: nav;
  background-color:rgba(70, 70, 70);
  overflow-y: scroll;
}

nav-title {
  grid-area: nav-title;
  background-color:rgba(70, 70, 70);
}

.treemap {
  grid-area: treemap;
  background-color:rgba(70, 70, 70);
}

.treemap-title {
  grid-area: treemap-title;
  background-color:rgba(70, 70, 70);
}

@media only screen and (max-width:1024px) {
  /*body {
      color :#FFFFFF;
      background-color: #000000;
      font-size: 10px;
  }*/

  #grilla {
      grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (max-width:768px) {
  /*body {
      color :#FFFFFF;
      background-color: #000000;
      font-size: 10px;
  }*/


  /*footer {
      display:none;
  }*/
}

/*
@media only screen and (min-width:321px) {
  body {
      color :#FFFFFF;
      background-color: #000000;
      font-size: 12px;
  }
}

@media only screen and (max-width:600px) {
  body {
      color :#FFFFFF;
      background-color: #444444;
      font-size: 14px;
  }
}

@media only screen and (max-width:768px) {
  body {
      color :#FFFFFF;
      background-color: #666666;
      font-size: 16px;
  }
}

@media only screen and (max-width:1024px) {
  body {
      color :#FFFFFF;
      background-color: #888888;
      font-size: 18px;
  }
}*/

